<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DocShare</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/vue.global.prod.js"></script>
    <script src="~/js/qrcode.min.js"></script>
</head>
<body>
    @RenderBody()
    <footer>
    </footer>
</body>
</html>